.center{
    padding: 20px 200px;
    margin: 5px 535px;
    border-radius: 25px;
    color: white; 
    border: 1px solid white;
    -webkit-box-shadow: 2px 2px 5px 2px rgb(226, 221, 221);
    box-shadow: 2px 2px 5px 2px  rgb(226, 224, 224);
}
.image{
    padding: 20px 150px;
    margin: 35px 525px;
}
.btn{
   
   
    
    margin-top:10px  ;
    margin-right: 600px;
   border-radius: 10px;
    color: white;
    text-decoration: none;
    width: 20%;
}
.button{
    background-color: rgb(240, 227, 227);
    
    text-decoration: none;
    width: 20%;  
     padding: 20px 60px;
    margin: 250px 505px;
    border-radius: 25px;
    color: white; 
    border: 1px solid white;
    -webkit-box-shadow: 2px 2px 5px 2px rgb(226, 221, 221);
    box-shadow: 2px 2px 5px 2px  rgb(226, 224, 224);
}
.button2{
    background-color: rgb(240, 227, 227);
    border-radius: 25px; 
    text-decoration: none;
    padding: 20px 60px;
    width: 20%;
    color: white; 
    border: 1px solid white;
    margin:  200px 430px;
    -webkit-box-shadow: 2px 2px 5px 2px rgb(226, 221, 221);
    box-shadow: 2px 2px 5px 2px  rgb(226, 224, 224);
 

}
.listesol{
    list-style: none;
    list-style-position: outside;
    margin-bottom: 0px ;
    margin-left: 0px;
    padding-bottom:0px;
    display: block;
    float: left;
}

ul li{
    display: inline;
    position: relative;
    background-color:  #f2f2f2 ;

}
.listesag{
    list-style: none;
    list-style-position: outside;
    margin-bottom: 0;
    margin-right: 0;
    padding-bottom: 0%;
    display: block;
    float: right;
}
.container {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
  }
  .container .list-holder {
    justify-content: flex-end;
    display: flex;
  }
ul li a {
    color: gray;
    text-decoration: none;
    margin: 10px;
    margin-bottom: 200%;
    float: left;
}
#button {
    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
    padding: 20px 60px;
    background-color: rgb(39, 39, 230);
    -webkit-box-shadow: 2px 2px 5px 2px rgb(226, 221, 221);
    box-shadow: 2px 2px 5px 2px  rgb(226, 224, 224);
    border-radius: 10px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
   
}
